<h2>Search Results for '<%= @query %>'</h2>


<% if @movie_results.any? %>
  <div class="movie-cards">
    <% @movie_results.each do |movie| %>
      <div class="movie-card" onclick="window.location.href='<%= select_movie_path(title: movie["title"], release_date: movie["release_date"], overview: movie["overview"], rating: movie["vote_average"].to_s) %>'">
        
        <div class="movie-title">
          <strong><%= movie["title"] %></strong>
        </div>

        <div class="release-date">
          <% if movie["release_date"].present? %>
            <%= Time.parse(movie["release_date"]).strftime('%d %B %Y') %>
          <% else %>
            Release date not available
          <% end %>
        </div>

        <div class="movie-info">
          <p><%= movie["overview"] %></p>
        </div>

      </div>
    <% end %>
  </div>
<% else %>
  No results found.
<% end %>
